<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/util.css">
        <link rel="stylesheet" href="../assets/css/navbar.css">
        <link rel="stylesheet" href="../assets/css/footer.css">
        <link rel="stylesheet" href="../assets/css/faleConosco.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <title>Fale Conosco</title>
    </head>
    <body>
        <div class="navbar">
            <nav>
                <ul>
                    <div>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>       
                            <a href="pets.html">Pets</a>
                        </li>
                        <li>
                            <a href="servicos.html">Serviços</a>  
                        </li>
                        <li>
                            <a href="produtos.html">Produtos</a>                        
                        </li>
                        <li>       
                            <a href="fale_conosco.html">Fale Cosnosco</a>
                        </li>
                    </div>
                    <li class="cadastro">
                        <a href="cadastrar.html">Cadastrar</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <h1>Entre em contato conosco</h1>
                <table>
                    <tr>
                        <td colspan="2">
                            Nos envie uma mensagem:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="txtChat" id="txtChat" cols="60" rows="8"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button>Enviar</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            ou
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <a href="tel:+5561912345678">+55 (61) 91234-5678</a>
                            </div>
                            <td>
                                <div>
                                    <a href="mailto:phpetshop@gmail.com">phpetshop@gmail.com</a>
                                </div>
                            </td>
                        </td>
                    </tr>
                </table>
            
        </div>
        <footer>
            <div class="footer-content">
                PH PetShop&copy Criado por <a href="https://github.com/PedroFSValladares" target="_blank">Pedro Valladares</a>
            </div>
        </footer> 
    </body>
</html>