@model PHPetshop.Models.Usuario
@{
    ViewData["Title"] = "Login";
    ViewData["Style"] = new[] { "/css/background.css", "/css/formLogin.css" };
}      
<form class="card m-auto p-2 mt-5 mb-3 require-validation" method="post">
    @if(ViewData["ErrorMessage"] != null){
        <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
    }
    <div class="mb-3">
        <label class="form-label" for="txtLogin">Login:</label>
        <input asp-for="Email" type="email" class="form-control" id="txtLogin" required/>
        <div class="invalid-feedback email-feedback">
            Campo obrigatório.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtSenha">Senha:</label>
        <input asp-for="Senha" type="password" class="form-control" required/>
        <div class="invalid-feedback">
            Campo obrigatório.
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="remember" id="checkRemember" value="true" type="checkbox" />
        <label class="form-check-label" for="checkRemember">Lembrar meu login</label> 
    </div>
    <div class="mb-1">
        <a asp-action="PasswordRecovery">Esqueceu sua senha?</a>
    </div>
    <div class="mb-3">
        <a asp-action="Create">Criar uma conta</a>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" value="Login">Login</button>
    </div>
</form>

