<div class="div">
    <div class="filtros">
        <form action="" method="get" name="frmFiltoLoja">
            <h2>Filtros</h2>
            <section>
                <label for="" class="principal">Produtos para:</label>
                <div class="options">
                    <label for="cachorros"><input type="checkbox" id="cachorros" name="cachorros" value="true" checked>Cachorros</label>
                    <label for="gatos"><input type="checkbox" id="gatos" name="gatos" value="true" checked>Gatos</label>
                    <label for="aves"><input type="checkbox" id="aves" name="aves" value="true" checked>Aves</label>
                </div>
            </section>
            <section>
                <label for="" class="principal">Tipo:</label>
                <div class="options">
                    <label for="alimentacao"><input type="checkbox" id="alimentacao" name="alimentacao" value="true" checked>Alimentacão</label>
                    <label for="higiene"><input type="checkbox" id="higiene" name="higiene" value="true" checked>Higiene</label>
                    <label for="pastor_alemao"><input type="checkbox" id="pastor_alemao" name="diversao" value="true" checked>Diversão</label>
                </div>
            </section>
            <section>
                <button>Filtrar</button>
            </section>
        </form>
    </div>
</div>
<div class="area-loja">
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/produtos/brinquedo.png" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/produtos/shampoo.png" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/produtos/whiskas.png" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
</div>
