@model IEnumerable<PHPetshop.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
    ViewData["Style"] = new[] { @"/css/loja.css" };
}

<div class="row">
    <div class="col-2 filtros">
        <form action=""class="m-2" method="get" name="frmFiltoLoja">
            <h2>Filtros</h2>
            <div class="mb-3">
                <label for="" class="principal">Produtos para:</label>
                <div class="form-check">
                    <label class="form-check-label" for="cachorros">Cachorros</label>
                    <input class="form-check-input" type="checkbox" id="cachorros" name="cachorros" value="true" checked>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="gatos">Gatos</label>
                    <input class="form-check-input" type="checkbox" id="gatos" name="gatos" value="true" checked>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="aves">Aves</label>
                    <input class="form-check-input"type="checkbox" id="aves" name="aves" value="true" checked>
                </div>
            </div>
            <div class="mb-3"></div>
            <label for="" class="principal">Tipo:</label>
            <div class="form-check">
                <label class="form-check-label" for="alimentacao">Alimentacão</label>
                <input class="form-check-input" type="checkbox" id="alimentacao" name="alimentacao" value="true" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="higiene">Higiene</label>
                <input class="form-check-input" type="checkbox" id="higiene" name="higiene" value="true" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="pastor_alemao">Diversão</label>
                <input class="form-check-input" type="checkbox" id="pastor_alemao" name="diversao" value="true" checked>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary">Filtrar</button>
            </div>
        </form>
    </div>
    <div class="col-10">
        <table class="">
            <tr>
                <td class="d-flex">
                    @if(Model == null || Model.Count() <= 0) {
                        <p class="p-null m-auto">Parece que nosso estoque está vázio :(</p>
                    }else{
                        foreach (Produto produto in Model) { 
                            <div class="card">
                                <figure>
                                    <img src="/images/produtos/brinquedo.png" alt="">
                                </figure>
                                <div class="card-content">
                                    <h3>Milos</h3>
                                    <h6>fabricante</h6>
                                    <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                                    <button class="btn btn-primary">Adicione ao carrinho</button>
                                </div> 
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

