:root{
    --animation-duration: 600ms;
}
@keyframes card-transition{
    0% {background-color: white;}
    50%{background-color: purple;}
    100%{background-color: white;}
}
@keyframes card-transition-h3{
    0% {color: purple;}
    50% {color: white;}
    100%{color: purple;}
}
.banner{
    display: flex;
    background-color: white;
    width: 100%;
    margin: 100px auto;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: white;
}
.card{
    margin: 0px 10px;
    border-radius: 7px;
    height: 600px;
    cursor: pointer;
}
.card h3 {
    font-size: 35px;
    color: purple;
}
.card-name{
    display: flex;
    height: 225px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.card img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.banner-content{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.banner-title{
    margin-top: 50px;
    flex-direction: row;
}
.banner h2{
    text-align: center;
    font-size: 66px;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
    height: 100px;
    border-bottom: 1px solid purple;
    color: purple;
}
.card-animation {
    animation-name: card-transition;
    animation-duration: var(--animation-duration);
}
.card-title-animation {
    animation-name: card-transition-h3;
    animation-duration: var(--animation-duration);
}
.change-title-color {
    animation-name: card-transition-h3;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.change-title-color-reverse {
    animation-name: card-transition-h3;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.card-transition-reverse {
    animation-name: card-transition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.card-transition {
    animation-name: card-transition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
  ::-webkit-scrollbar-track{
    background-color: rgba(194, 194, 194, 0.3); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: rgba(168, 168, 168, 0.5); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: rgba(139, 139, 139, 0.5); 
  }

.produtos{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background-color: purple;
}
.produto{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 600px;
}
.produto img{
    width: 300px;
}
.produtos-text h2{
    width: 700px;
    font-size: 56px;
}
.produtos-text p{
    font-size: 26px;
}
.produtos-image{
    display: flex;
    width: 500px;
}
.produto p{
    margin: auto;
    text-align: center;
}
