.sobre {
    background-color: purple;
    position: sticky;
    top: 45px;
    left: 0px;
    display: flex;
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}
.sobre h1{
    font-size: 92px;
    margin-bottom: 100px;
    padding-left: 10px;
}
.sobre figure{
    margin: 0px;
    justify-content: center;
}
.sobre p{
    height: 200px;
    padding: 10px;
    font-size: 36px;
}
.sobre img{
    margin-left: 5px;
    float: right;
}
.sobre .buttons{
    display: flex;
    margin: auto;
    justify-content: start; 
}
.sobre a{
    display: flex;
    align-items: center;
    background-color: purple;
    text-decoration: none;
    justify-content: center;
    color: gainsboro;
    border: 2px solid gainsboro;
    font-size: 20px;
    border-radius: 30px;
    height: 60px;
    width: 270px;
    margin: 0px 10px;
    cursor: pointer;
    z-index: 2;
}
.sobre a:hover {
    background-color: #C000D6;
    border: 2px solid #C000D6;
}