.navbar{
    background-color: purple;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 0 1rem;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style: none;
    padding: .2rem;
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 1rem 0;
}
.nav-buttons{
    display: flex;
}
.navbar-brand {
    font-size: 24px;
}
nav .nav-link{
    color: white;
    
}
nav .nav-link:hover, .button-login:hover {
    color: lightgrey;
}
.navbar-brand:hover {
    color: lightgrey;
}