.navbar{
    background-color: purple;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 2px;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: end;
}
nav .nav-link{
    color: white;
    padding: 5px 8px;
}
nav .nav-link:hover, .button-login:hover {
    color: lightgrey;
}
.navbar-brand:hover {
    color: lightgrey;
}
.button-login{
    
}