:root {
    --main-color: #B440CF;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
@font-face{
    font-family: "Cormonant Garamond";
    src: url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
}
@font-face{
    font-family: "Dancing Script";
    src: url('../fonts/DancingScript-Medium.ttf') format('truetype');
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0px;
}
main{
    margin-top: 45px;
    width: 100%;
}
.container{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.page{
    background-color: white;
    display: grid;
}
a {
    color: purple;
}
a:hover {
    color: #C000D6;
}
p {
    margin: 5px 0px;
}
textarea {
    resize: none;
}
input[type=checkbox]:checked {
    background-color: purple;
}
input[type=radio]:checked {
    background-color: purple;
}
.btn-primary{
    background-color: purple;
}
.btn-primary:hover {
    background-color: #5E005E;
}