<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PHPetshop</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
    @if(ViewData["Style"] != null) {
        foreach(string pathToStyle in (string[])ViewData["Style"]) {
            <link rel="stylesheet" href="@pathToStyle" />
        }
    }
    <!--
        <link rel="stylesheet" href="~/css/sobre.css" />
        <link rel="stylesheet" href="~/css/banner.css" />
        <link rel="stylesheet" href="~/css/formCadastro.css" />
        
        <link rel="stylesheet" href="~/css/loja.css" />
    
        <link rel="stylesheet" href="~/css/servicos.css" />
        -->
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid ">

                    <a href="/" class="navbar-brand">PH PetShop</a>
                    <ul>
                        <li class="nav-item">       
                            <a asp-controller="Pets" asp-action="Index" class="nav-link">Pets</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Servicos" asp-action="Index" class="nav-link">Serviços</a>  
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Produtos" asp-action="Index" class="nav-link">Produtos</a>                        
                        </li>
                        <li class="nav-item">       
                            <a href="pages/fale_conosco.html" class="nav-link">Fale Cosnosco</a>
                        </li>
                        <!--
                        <li class="nav-item">       
                            <a asp-controller="Pets" asp-action="Cadastrar" class="nav-link">Cadastrar</a>
                        </li>
                        -->

                    </ul>
                    <div class="d-flex">
                        <a asp-controller="Account" asp-action="Login" class="button-login">Login</a>
                    </div>
                        
                </div>
            </nav>
        </header>
        <div class="container"> <!--footer absolute-->
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
        <footer>
            <div class="footer-content">
                PH PetShop&copy Criado por <a href="https://github.com/PedroFSValladares" target="_blank">Pedro Valladares</a>
            </div>
        </footer>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
