@model PHPetshop.Models.Pet

@{
    ViewData["Title"] = "Cadstrar novo Pet";
    ViewData["Style"] = new[] { @"/css/formCadastro.css" };
}

<form action="" name="frmCadastro" method="post">
    <div class="mt-5 pt-4 d-flex justify-content-center">
        <h1 class="m-auto form-title">Cadastrar Novo Pet</h1>
    </div>
    <div class="m-3 row">
        <div class="col-3">
            <section>
                <div class="m-2 row">
                    <div class="col d-flex">
                        <img src="~/images/cam.png" id="petImage" class="m-auto" width="300px"/>
                    </div>
                    <div class="col d-flex">
                        <input
                            type="file"
                            accept="image/*"
                            class="btn btn-primary m-auto w-auto"
                            id="btnSubmitImage"/>
                    </div>
                </div>
            </section>
        </div>
        <div class="col">
            <section>
                <div class="mb-2">
                    <label asp="nome" class="form-label">Nome:</label><br>
                    <input type="text" asp-for="Nome" id="nome" class="form-control">
                </div>
                <div class="mb-2">                
                    <label for="dataResgate" class="form-label">Data do Resgate:</label>
                    <input type="date" asp-for="DataResgate" id="dataResgate" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="idade" class="form-label">Idade:</label>
                    <input type="number" asp-for="Idade" id="idade" class="form-control">
                </div>
                <div class="mb-2 ms-1 row">
                    <div class="col">
                        <div class="row">
                            <label for="sexo" class="col-2 col-form-label">Sexo:</label>
                            <div class="col">
                                <div class="form-check">
                                    <label for="M" class="form-check-label">Macho</label>
                                    <input type="radio" asp-for="Sexo" id="M" value="M" class="form-check-input" checked>
                                </div>
                                <div class="form-check">
                                    <label for="F" class="form-check-label">Fêmea</label>
                                    <input type="radio" asp-for="Sexo" id="F" value="F" class="form-check-input">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <label for="porte" class="col-2 col-form-label">Porte:</label>
                            <div class="col mt-1">
                                <select asp-for="Porte" id="porte" class="form-select">
                                    <option value=""></option>
                                    <option value="0">Mini</option>
                                    <option value="1">Pequeno</option>
                                    <option value="2">Médio</option>
                                    <option value="3">Grande</option>
                                    <option value="4">Extra Grande</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="row">
                                <label for="tipo" class="form-label">Tipo:</label>
                                <select asp-for="Tipo" id="tipo" class="form-select">
                                    <option value="0">Cachorro</option>
                                    <option value="1">Gato</option>
                                    <option value="2">Ave</option>
                                </select>
                            </div>
                            <div class="row">
                                <label for="raca" class="form-label">Raça:</label>
                                <input type="text" asp-for="Raca" id="raca" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="row">
                            <label for="altura" class="form-label">Altura:</label>
                            <input type="number" id="altura" asp-for="Altura" class="form-control">
                        </div>
                        <div class="row">
                            <label for="peso" class="form-label">Peso:</label>
                            <input type="number" id="peso" asp-for="Peso" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <textarea asp-for="Descricao" id="descricao" rows="5" class="form-control"></textarea>
                </div>
            </section>
            <section class="form-buttons">
                *Campo Obrigatório
                <input type="submit" value="Enviar" class="btn btn-primary">
                <input type="reset" value="Limpar" class="btn btn-outline-secondary">
            </section>
        </div>
    </div>
</form>
<script src="~/js/FormValidation.js"></script>
