<div class="div">
    <div class="filtros">
        <form action="" method="get" name="frmFiltoLoja">
            <h2>Filtros</h2>
            <section>
                <label for="" class="principal">Tipo:</label>
                <div class="options">
                    <label for="cachorros"><input type="checkbox" id="cachorros" name="cachorros" value="true" checked>Cachorros</label>
                    <label for="gatos"><input type="checkbox" id="gatos" name="gatos" value="true" checked>Gatos</label>
                    <label for="aves"><input type="checkbox" id="aves" name="aves" value="true" checked>Aves</label>
                </div>
            </section>
            <section>
                <label for="" class="principal">Sexo:</label>
                <div class="options">
                    <label for="m"><input type="checkbox" id="m" name="M" value="M">Macho</label>
                    <label for="f"><input type="checkbox" id="f" name="F" value="F">Fêmea</label>
                </div>
            </section>
            <section>
                <label for="" class="principal">Raça:</label>
                <div class="options">
                    <label for="rottweiler"><input type="checkbox" id="rottweiler" name="rottweiler" value="true" checked>Rottweiler</label>
                    <label for="persa"><input type="checkbox" id="persa" name="persa" value="true" checked>Persa</label>
                    <label for="pastor_alemao"><input type="checkbox" id="pastor_alemao" name="pastor_alemao" value="true" checked>Pastor Alemão</label>
                </div>
            </section>
            <section>
                <button>Filtrar</button>
            </section>
        </form>
    </div>
</div>
<div class="area-loja">
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro2.png" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/calopsita.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/gato.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/animais/gato1.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
    <div class="loja-row">
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../assets/images/animais/cachorro.jpg" alt="">
            </figure>
            <div class="card-content">
                <h3>Milos</h3>
                <p>Dócil, enégico, brincalhão <br>Idade: 5 Meses</p>
                <button>&#10084 Adote!</button>
            </div>
        </div>
    </div>
</div>
