@model IEnumerable<PHPetshop.Models.Pet>

@{
    ViewData["Title"] = "Pets";
    ViewData["Style"] = new[] { @"/css/loja.css" };
}

<div class="div">
    <div class="filtros">
        <form action="" method="get" name="frmFiltoLoja">
            <div class="row">
                <div class="col-2 filtros">
                    <h2>Filtros</h2>
                    <section class="mb-3">
                        <label for="" class="principal">Tipo:</label>
                        <div class="form-check">
                            <label class="form-check-label" for="cachorros">Cachorros</label>
                            <input class="form-check-input" type="checkbox" id="cachorros" name="cachorros" value="true" checked>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="gatos">Gatos</label>
                            <input class="form-check-input" type="checkbox" id="gatos" name="gatos" value="true" checked>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="aves">Aves</label>
                            <input class="form-check-input" type="checkbox" id="aves" name="aves" value="true" checked>
                        </div>
                    </section>
                    <section class="mb-3">
                        <label for="" class="principal">Sexo:</label>
                        <div class="form-check">
                            <label class="form-check-label" for="m">Macho</label>
                            <input class="form-check-input" type="checkbox" id="m" name="M" value="M">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="f">Fêmea</label>
                            <input class="form-check-input" type="checkbox" id="f" name="F" value="F">
                        </div>
                    </section>
                    <section class="mb-3">
                        <label for="" class="principal">Raça:</label>
                        <div class="form-check">
                            <label class="form-check-label" for="rottweiler">Rottweiler</label>
                            <input class="form-check-input" type="checkbox" id="rottweiler" name="rottweiler" value="true" checked>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="persa">Persa</label>
                            <input class="form-check-input" type="checkbox" id="persa" name="persa" value="true" checked>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="pastor_alemao">Pastor Alemão</label>
                            <input class="form-check-input" type="checkbox" id="pastor_alemao" name="pastor_alemao" value="true" checked>
                        </div>
                    </section>
                    <section>
                        <input type="submit" class="btn btn-primary" value="Filtrar"/>
                    </section>
                </div>
                <div class="col">
                    <div class="d-flex">
                        @if(Model == null || Model.Count() <= 0) {
                                <p class="p-null m-auto">Não há Pets para adotar :(</p>
                        }else{
                            int count = 0;
                            @foreach(Pet pet in Model) {
                                count++;
                                <div class="card">
                                    <figure>
                                        <img src="../assets/images/animais/cachorro.jpg" alt="">
                                    </figure>
                                    <div class="card-content">
                                        <h3>@pet.Nome</h3>
                                        <p>@pet.Descricao<br>Idade: @pet.Idade</p>
                                        <button asp-route-id="@pet.Id">&#10084 Adote!</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="area-loja">
</div>
