@{
    ViewData["Title"] = "Fale conosco";
    ViewData["style"] = "Home";
}

<div class="contatos-container">
    <h1>Entre em contato conosco</h1>
    <div class="area-text">
        <span>Nos envie uma mensagem:</span>
        <textarea name="txtChat" id="txtChat" cols="60" rows="8"></textarea>
    </div>
        <button>Enviar</button>
    <span class="ou">ou</span>
    <div class="meios-contato">
        <a href="tel:+5561912345678">+55 (61) 91234-5678</a>
        <a href="mailto:phpetshop@gmail.com">phpetshop@gmail.com</a>
    </div>
</div>
