@{
    ViewData["Title"] = "Home Page";
    //ViewData["Style"] = new[] { "/css/banners.css", "/css/bannerApresentacao.css" };
    ViewData["Style"] = "Home";
}
<div class="page-start-image"></div>
<div class="page-start-text-container">
    <div class="page-start-text">
        <h1>PH PETSHOP</h1>
        <p>A mais de 20 anos acolhendo e encontrando<br />lares para milhares de pets!</p>
        <div class="buttons">
            <a asp-controller="Pets" asp-action="Index" class="button">Adote um Pet</a>
            <a asp-controller="Produtos" asp-action="Index" class="button">Conheça nossos produtos</a>
        </div>
    </div>
</div>
<div class="page">
    <section>
        <div class="banner">
            <div class="banner-title">
                <h2>Pets</h2>
            </div>
            <div class="banner-content">
                <card-anuncio 
                    image="../images/img-card-cachoro.png"
                    title="Cachorros"
                ></card-anuncio>
                <card-anuncio  
                    image="../images/img-card-gato.png"
                    title="Gatos"
                ></card-anuncio>
                <card-anuncio 
                    image="../images/img-card-passaro.png"
                    title="Pássaros"
                ></card-anuncio>
            </div>
        </div>
    </section>
    <section>
        <div class="banner">
            <div class="banner-title">
                <h2>Produtos</h2>
            </div>
            <div class="banner-content">
                <card-anuncio 
                    image="images/img-card-racoes.png"
                    title="Rações"
                ></card-anuncio>
                <card-anuncio 
                    image="images/img-card-produto.png"
                    title="Higiene"
                ></card-anuncio>
                <card-anuncio 
                    image="images/img-card-brinquedo.png"
                    title="Brinquedos"
                ></card-anuncio>
            </div>
        </div>
    </section>
</div>
