.page-start-image {
    background-image: url("../../images/background-login-image.jpg");
    background-size: cover;
    filter: blur(5px);
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
}
.page-start-text-container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 1rem;
    left: 0;
}
.page-start-text {
    margin: auto;
    color: #000000;
    padding: 2rem;
    background-color: antiquewhite;
    opacity: .8;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.page-start-text h1 {
    font-family: 'Cormorant Garamond';
    font-size: 92px;
    text-align: center;
}
.page-start-text p {
    padding: 3rem;
    padding-top: 0;
    font-size: 28px;
    color: darkgray;
    text-align: center;
}
.page-start-text .buttons {
    display: flex;
    margin: auto;
    justify-content: start;
}
.page-start-text a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin: auto;
    cursor: pointer;
}
